@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body
{
    min-height: 100vh;
    background: linear-gradient(#290f53,#6488d4);
}

header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}


header ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li
{
    list-style: none;
    margin-left: 20px;

}

header ul li a 
{
    text-decoration: none;
    padding: 6px 15px;
    color: #ffff;
    border-radius: 20px;
}

header ul li a:hover,
header ul li a.active

{
    background: #ffff;
    color: #290e53;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

#bg {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;

}

.box
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}

.box h1
{
    color: #ffff;
    letter-spacing: 0.1em;
    text-shadow: 0 0 10px #ffff;
    
}